Repository Mati365/ckeditor5-livewire: changes, and which Codecov flags are due for each by the changed paths.
All: javascript, php

fix: code style
  codecov.yml
Due: none

feat: add coverage badges
  README.md
Due: none

feat: initial release
  .github/workflows/publish.yml
  composer.json
Due: none

feat: adjust minimal livewire version
  composer.json
  composer.lock
Due: none

chore: adjust readme and playground
  README.md
  playground/app/Providers/AppServiceProvider.php
  playground/app/Support/CspPolicy.php
  playground/bootstrap/app.php
  playground/composer.json
  playground/composer.lock
  playground/config/csp.php
  playground/package.json
  playground/resources/views/home.blade.php
  playground/vite.config.js
  resources/views/components/assets.blade.php
  src/Components/CKEditor5.php
Due: php

docs: better readme
  README.md
Due: none

docs: drop unused section
  README.md
Due: none

docs: adjust config
  README.md
Due: none

docs: better playground
  playground/app/Http/Controllers/ClassicEditorController.php
  playground/app/Http/Controllers/ContextEditorController.php
  playground/app/Http/Controllers/DecoupledEditorController.php
  playground/app/Http/Controllers/IndexController.php
  playground/app/Http/Controllers/InlineEditorController.php
  playground/app/Livewire/EditorForm.php
  playground/resources/views/editors/classic.blade.php
  playground/resources/views/editors/context.blade.php
  playground/resources/views/editors/decoupled.blade.php
  playground/resources/views/editors/inline.blade.php
  playground/resources/views/home.blade.php
  playground/resources/views/index.blade.php
  playground/resources/views/layouts/app.blade.php
  playground/resources/views/livewire/editor-form.blade.php
  playground/routes/web.php
Due: none

docs: add screenshoot
  README.md
  docs/classic.png
Due: none

docs: add multiroot samples
  README.md
  playground/app/Http/Controllers/MultirootEditorController.php
  playground/resources/views/editors/multiroot.blade.php
  playground/resources/views/index.blade.php
  playground/routes/web.php
Due: none

docs: adjust comments
  README.md
Due: none

feat: add `wire:model` support
  README.md
  npm_package/src/hooks/context/context.test.ts
  npm_package/src/hooks/context/context.ts
  npm_package/src/hooks/editable.test.ts
  npm_package/src/hooks/editable.ts
  npm_package/src/hooks/editor/editor.test.ts
  npm_package/src/hooks/editor/editor.ts
  npm_package/src/hooks/editor/plugins/livewire-sync.ts
  npm_package/src/hooks/editor/utils/query-editor-editables.ts
  npm_package/src/hooks/hook.ts
  npm_package/src/hooks/ui-part.test.ts
  npm_package/src/hooks/ui-part.ts
  npm_package/src/livewire.d.ts
  npm_package/src/shared/index.ts
  npm_package/src/shared/shallow-equal.test.ts
  npm_package/src/shared/shallow-equal.ts
  npm_package/test-utils/livewire-stub.ts
  playground/app/Livewire/EditorForm.php
  playground/app/Livewire/FocusDemo.php
  playground/resources/views/editors/classic.blade.php
  playground/resources/views/livewire/editor-form.blade.php
  playground/resources/views/livewire/focus-demo.blade.php
  src/Components/CKEditor5.php
  tests/Feature/Components/CKEditor5Test.php
Due: javascript, php

feat: adjust docs
  README.md
Due: none

feat: add livewire sync
  README.md
  docs/livewire-sync.gif
  npm_package/src/hooks/editable.test.ts
  npm_package/src/hooks/editable.ts
  npm_package/src/hooks/editor/editor.test.ts
  npm_package/src/hooks/editor/editor.ts
  npm_package/src/hooks/editor/plugins/livewire-sync.ts
  npm_package/src/hooks/editor/utils/index.ts
  npm_package/src/hooks/editor/utils/is-wire-model-connected.test.ts
  npm_package/src/hooks/editor/utils/is-wire-model-connected.ts
  npm_package/src/hooks/hook.ts
  npm_package/src/livewire.d.ts
  npm_package/test-utils/editor/create-editor-html-element.ts
  npm_package/test-utils/livewire-stub.ts
  playground/app/Livewire/ContentDispatchDemo.php
  playground/app/Livewire/TemplateDemo.php
  playground/resources/views/editors/classic.blade.php
  playground/resources/views/livewire/content-dispatch-demo.blade.php
  playground/resources/views/livewire/template-demo.blade.php
Due: javascript

docs: adjust
  README.md
Due: none

fix: adjust typings in tests
  npm_package/test-utils/editor/create-editor-snapshot.ts
Due: javascript

docs: adjust section
  README.md
Due: none

fix: add missing tags to `composer.json`
  composer.json
Due: none

fix: adjust docs
  README.md
Due: none

docs: fix typo in footer
  README.md
Due: none

fix: no longer override content when editor focused if `wire:model.live` enabled
  npm_package/src/hooks/editor/editor.test.ts
  npm_package/src/hooks/editor/plugins/livewire-sync.ts
  playground/resources/views/livewire/editor-form.blade.php
Due: javascript

Update README.md
  README.md
Due: none

docs: simplify docs
  README.md
Due: none

Fix config file extension in README
  README.md
Due: none

docs: add security policy
  SECURITY.md
Due: none

fix: no longer require `vite-plugin-externalize-dependencies` to install CKEditor via CDN
  README.md
  npm_package/bundler/vite-ckeditor5-externalize.ts
  npm_package/package.json
  npm_package/vite.config.ts
  playground/package.json
  playground/vite.config.js
  pnpm-lock.yaml
Due: javascript

fix: minor issues in externalize deps
  npm_package/bundler/vite-ckeditor5-externalize.ts
  npm_package/src/hooks/editor/editor.ts
Due: javascript

docs: fix eol
  README.md
Due: none

test: drop unused imports
  tests/Feature/Components/CKEditor5AssetsTest.php
Due: none

docs: add info about params of `x-ckeditor5-assets`
  README.md
  src/License/KeyParser.php
Due: php

feat: add ability to disable or extend importmaps generated via `x-ckeditor5-assets`
  resources/views/components/assets.blade.php
  src/Components/CKEditor5Assets.php
  tests/Feature/Components/CKEditor5AssetsTest.php
Due: php

Path conditions:
  javascript: any of: npm_package/
  php: any of: src/
