Repository Mati365/ckeditor5-livewire: changes, and which Codecov flags are due for each by the changed paths.
All: javascript, php

docs: drop redundant sections
  README.md
Due: none

fix: adjust exception in assets renderer
  src/Components/CKEditor5Assets.php
  src/Exceptions/NoCloudConfig.php
  tests/Feature/Components/CKEditor5AssetsTest.php
Due: php

fix: prevent possible race conditions in sync input plugin
  npm_package/src/hooks/editor/plugins/sync-editor-with-input.ts
Due: javascript

fix: improved support of classic form posts with required hidden input
  README.md
  npm_package/src/hooks/editor/editor.test.ts
  npm_package/src/hooks/editor/plugins/livewire-sync.ts
  playground/app/Http/Controllers/RequiredFieldController.php
  playground/app/Livewire/RequiredFieldForm.php
  playground/resources/views/editors/required-field.blade.php
  playground/resources/views/index.blade.php
  playground/resources/views/livewire/required-field-form.blade.php
  playground/routes/web.php
  resources/views/components/hidden-input.blade.php
  src/Components/CKEHiddenInput.php
  src/Components/CKEditor5.php
  src/Components/CKEditor5Editable.php
  tests/Feature/Components/CKEditor5EditableTest.php
  tests/Feature/Components/CKEditor5Test.php
Due: javascript, php

test: add missing no cloud config test
  tests/Unit/Exceptions/NoCloudConfigTest.php
Due: none

chore: fix uneccessary imports
  tests/Unit/Preset/PresetParserTest.php
Due: none

fix: prevent race conditions during initialization of decoupled editor
  npm_package/src/hooks/editor/editor.test.ts
  npm_package/src/hooks/editor/editor.ts
  npm_package/src/hooks/editor/utils/index.ts
  npm_package/src/hooks/editor/utils/is-single-root-editor.test.ts
  npm_package/src/hooks/editor/utils/is-single-root-editor.ts
  npm_package/src/hooks/editor/utils/query-editor-editables.ts
Due: javascript

fix: minor code style changes
  npm_package/src/hooks/editor/editor.ts
Due: javascript

test: add test for editable value pick
  npm_package/src/hooks/editable.test.ts
  npm_package/src/hooks/editor/editor.test.ts
  npm_package/src/hooks/editor/editor.ts
  npm_package/src/hooks/editor/utils/query-editor-editables.ts
  npm_package/src/hooks/ui-part.test.ts
  npm_package/test-utils/editor/create-editor-html-element.ts
  resources/views/livewire/ckeditor5.blade.php
Due: javascript

feat: add support for `livewire@4`
  composer.json
  composer.lock
  playground/app/Providers/VoltServiceProvider.php
  playground/bootstrap/providers.php
  playground/composer.json
  playground/composer.lock
  playground/config/cache.php
Due: none

fix: php version
  .github/workflows/code-checks.yml
  .github/workflows/publish.yml
Due: none

docs: improve docs
  npm_package/src/hooks/editor/utils/query-editor-editables.ts
Due: javascript

docs: fix typo in `README.md`
  README.md
Due: none

fix: potential race conditions on rapid unmount & mount editables
  npm_package/src/hooks/editable.ts
  npm_package/src/hooks/ui-part.ts
Due: javascript

fix: oops, re-export missing public classes
  npm_package/src/index.ts
Due: javascript

Update README.md
  README.md
Due: none

PHP CS Fixer: replace usage of deprecated ruleset
  .php-cs-fixer.dist.php
Due: none

ci: switch to trusted publishing
  .github/workflows/publish.yml
  npm_package/package.json
Due: javascript

docs: adjust docs
  README.md
Due: none

feat: add ability to pass `wire:model.live` to editables
  README.md
  npm_package/src/hooks/editable.test.ts
  npm_package/src/hooks/editable.ts
  npm_package/src/hooks/editor/plugins/livewire-sync.ts
  npm_package/test-utils/editable/create-editable-html-element.ts
  npm_package/vite.config.ts
  playground/app/Livewire/MultiRootDemo.php
  playground/resources/views/editors/multiroot.blade.php
  playground/resources/views/livewire/multiroot-demo.blade.php
  src/Components/CKEditor5Editable.php
Due: javascript, php

fix: no longer mem leak during unmounting dynamic editables in JS
  npm_package/src/hooks/editable.ts
  npm_package/src/hooks/hook.ts
  playground/app/Livewire/MultiRootDynamicDemo.php
  playground/resources/views/editors/multiroot.blade.php
  playground/resources/views/livewire/multiroot-dynamic-demo.blade.php
Due: javascript

fix: drop `Respect/Validation` dependency due to breaking changes
  composer.json
  composer.lock
  src/Cloud/CKBox/CKBoxParser.php
  src/Cloud/CKBox/CKBoxValidator.php
  src/Cloud/CloudParser.php
  src/Cloud/CloudValidator.php
  src/Context/ContextParser.php
  src/Context/ContextValidator.php
  src/Preset/PresetParser.php
  src/Preset/PresetValidator.php
  tests/Unit/Cloud/CKBox/CKBoxValidatorTest.php
  tests/Unit/Cloud/CloudValidatorTest.php
  tests/Unit/Context/ContextValidatorTest.php
  tests/Unit/Preset/PresetValidatorTest.php
Due: php

feat: add `ready` event
  README.md
  npm_package/src/hooks/editor/editor.test.ts
  npm_package/src/hooks/editor/plugins/livewire-sync.ts
  playground/app/Livewire/EditorStateDemo.php
  playground/resources/views/editors/classic.blade.php
  playground/resources/views/livewire/editor-state-demo.blade.php
  playground/resources/views/livewire/focus-demo.blade.php
Due: javascript

feat: add ability to pass custom cdn url
  composer.lock
  playground/composer.lock
  src/Cloud/CKBox/CKBox.php
  src/Cloud/CKBox/CKBoxCloudBundleBuilder.php
  src/Cloud/CKBox/CKBoxParser.php
  src/Cloud/CKBox/CKBoxValidator.php
  src/Cloud/CKEditor/CKEditorCloudBundleBuilder.php
  src/Cloud/CKEditor/CKEditorPremiumCloudBundleBuilder.php
  src/Cloud/Cloud.php
  src/Cloud/CloudBundleBuilder.php
  src/Cloud/CloudParser.php
  src/Cloud/CloudValidator.php
  src/Components/CKEditor5Assets.php
  src/Context/ContextValidator.php
  src/Exceptions/CloudLicenseIncompatible.php
  src/License/DistributionChannel.php
  src/License/Key.php
  src/Preset/PresetLicenseCompatibility.php
  src/Preset/PresetValidator.php
  tests/Feature/Components/CKEditor5AssetsTest.php
  tests/Helpers/LicenseKeyHelper.php
  tests/Unit/Cloud/CKBox/CKBoxCloudBundleBuilderTest.php
  tests/Unit/Cloud/CKBox/CKBoxParserTest.php
  tests/Unit/Cloud/CKBox/CKBoxTest.php
  tests/Unit/Cloud/CKBox/CKBoxValidatorTest.php
  tests/Unit/Cloud/CKEditor/CKEditorCloudBundleBuilderTest.php
  tests/Unit/Cloud/CKEditor/CKEditorPremiumCloudBundleBuilderTest.php
  tests/Unit/Cloud/CloudBundleBuilderTest.php
  tests/Unit/Cloud/CloudParserTest.php
  tests/Unit/Cloud/CloudTest.php
  tests/Unit/Cloud/CloudValidatorTest.php
  tests/Unit/License/DistributionChannelTest.php
  tests/Unit/License/KeyTest.php
  tests/Unit/Preset/PresetLicenseCompatibilityTest.php
Due: php

feat: add translations references
  README.md
  npm_package/src/hooks/context/context.test.ts
  npm_package/src/hooks/context/context.ts
  npm_package/src/hooks/editor/editor.test.ts
  npm_package/src/hooks/editor/editor.ts
  npm_package/src/hooks/editor/utils/index.ts
  npm_package/src/hooks/editor/utils/load-editor-translations.ts
  npm_package/src/hooks/editor/utils/resolve-editor-config-translations.test.ts
  npm_package/src/hooks/editor/utils/resolve-editor-config-translations.ts
Due: javascript

test: add missing `include` to coverage
  npm_package/vite.config.ts
Due: javascript

docs: add info about preset element selector
  README.md
Due: none

docs: reorder sections
  README.md
Due: none

fix: incorrect image toolbar configuration
  config/config.php
Due: none

docs: add missing section
  README.md
Due: none

docs: fix title
  README.md
Due: none

feat: bump ckeditor version
  README.md
  config/config.php
  npm_package/package.json
  pnpm-lock.yaml
Due: javascript

feat: add support for vite 8 in externalize
  npm_package/bundler/vite-ckeditor5-externalize.ts
  npm_package/package.json
  npm_package/src/hooks/context/context.ts
  npm_package/src/hooks/editable.ts
  npm_package/src/hooks/editor/editor.ts
  npm_package/src/hooks/editor/plugins/livewire-sync.ts
  npm_package/src/hooks/editor/plugins/sync-editor-with-input.ts
  npm_package/src/hooks/editor/utils/load-editor-plugins.ts
  npm_package/src/hooks/editor/utils/load-editor-translations.ts
  npm_package/src/hooks/hook.ts
  npm_package/src/hooks/ui-part.ts
  npm_package/vite.config.ts
  package.json
  playground/package.json
  pnpm-lock.yaml
Due: javascript

chore: fix typing
  npm_package/test-utils/livewire-stub.ts
Due: javascript

chore: fix typing
  npm_package/src/hooks/editor/editor.test.ts
Due: javascript

feat: faster synchronization of the editor if update happens when editor is not focused
  README.md
  npm_package/src/hooks/editable.test.ts
  npm_package/src/hooks/editable.ts
  npm_package/src/hooks/editor/editor.test.ts
  npm_package/src/hooks/editor/plugins/livewire-sync.ts
  npm_package/src/hooks/editor/utils/index.ts
  npm_package/src/hooks/utils/index.ts
  npm_package/src/hooks/utils/is-wire-model-connected.test.ts
  npm_package/src/hooks/utils/is-wire-model-connected.ts
Due: javascript

feat: add support of root attributes
  README.md
  composer.lock
  npm_package/src/hooks/editable.test.ts
  npm_package/src/hooks/editable.ts
  npm_package/src/hooks/editor/editor.test.ts
  npm_package/src/hooks/editor/editor.ts
  npm_package/src/hooks/utils/index.ts
  npm_package/src/hooks/utils/root-attributes-updater.ts
  npm_package/test-utils/editor/create-editor-snapshot.ts
  playground/app/Livewire/MultiRootDemo.php
  playground/app/Livewire/RootAttributesDemo.php
  playground/composer.json
  playground/composer.lock
  playground/resources/views/editors/classic.blade.php
  playground/resources/views/livewire/multiroot-demo.blade.php
  playground/resources/views/livewire/root-attributes-demo.blade.php
  resources/views/livewire/ckeditor5-editable.blade.php
  resources/views/livewire/ckeditor5.blade.php
  src/Components/CKEHiddenInput.php
  src/Components/CKEditor5.php
  src/Components/CKEditor5Assets.php
  src/Components/CKEditor5Editable.php
  src/Components/CKEditor5UIPart.php
  tests/Feature/Components/CKEditor5EditableTest.php
  tests/Feature/Components/CKEditor5Test.php
Due: javascript, php

Path conditions:
  javascript: any of: npm_package/
  php: any of: src/
