Repository Mati365/ckeditor5-livewire: changes, and which Codecov flags are due for each by the changed paths.
All: javascript, php

codecov.yml:

coverage:
  status:
    project:
      default:
        target: 100%
        threshold: 0%
    patch:
      default:
        target: 100%
        threshold: 0%

flags:
  javascript:
    paths:
      - npm_package/
    carryforward: false
  php:
    paths:
      - src/
    carryforward: false

comment:
  layout: "reach,diff,flags,tree"
  behavior: default
  require_changes: false

chore: bump psalm
  composer.json
  composer.lock
  npm_package/src/hooks/editor/plugins/livewire-sync.ts
  psalm.xml
  src/Components/CKEHiddenInput.php
Due: javascript, php

chore: fix paths
  psalm.xml
Due: none

fix(global): upgrade to Psalm 7 + psalm-plugin-laravel v4, drop Laravel 11
  .github/workflows/code-checks.yml
  composer.json
  composer.lock
  psalm.xml
  src/Components/CKEHiddenInput.php
  src/Components/CKEditor5.php
  src/Components/CKEditor5Assets.php
  src/Components/CKEditor5Context.php
  src/Components/CKEditor5Editable.php
  src/Components/CKEditor5UIPart.php
  stubs/laravel.phpstub
Due: php

fix(global): use minimum-stability beta instead of dev
  composer.json
  composer.lock
Due: none

fix(global): match orchestra/testbench to supported Laravel versions
  composer.json
  composer.lock
Due: none

fix(global): remove unnecessary --no-cache from Psalm CI steps
  .github/workflows/code-checks.yml
Due: none

feat: add support for watchdog in multiroot and decoupled editor, enable it by default
  npm_package/src/hooks/context/context.test.ts
  npm_package/src/hooks/editable.ts
  npm_package/src/hooks/editor/editor.test.ts
  npm_package/src/hooks/editor/editor.ts
  npm_package/src/hooks/editor/plugins/livewire-sync.ts
  npm_package/src/hooks/editor/utils/cleanup-orphan-editor-elements.test.ts
  npm_package/src/hooks/editor/utils/cleanup-orphan-editor-elements.ts
  npm_package/src/hooks/editor/utils/create-editor-in-context.ts
  npm_package/src/hooks/editor/utils/index.ts
  npm_package/src/hooks/editor/utils/is-multiroot-editor-instance.ts
  npm_package/src/hooks/editor/utils/wrap-with-watchdog.test.ts
  npm_package/src/hooks/editor/utils/wrap-with-watchdog.ts
  npm_package/src/hooks/ui-part.ts
  npm_package/src/shared/are-maps-equal.test.ts
  npm_package/src/shared/are-maps-equal.ts
  npm_package/src/shared/async-registry.test.ts
  npm_package/src/shared/async-registry.ts
  npm_package/src/shared/index.ts
  playground/app/Livewire/EditorModelDemo.php
  playground/resources/js/app.ts
  playground/resources/views/editors/classic.blade.php
  playground/resources/views/editors/decoupled.blade.php
  playground/resources/views/livewire/editor-model-demo.blade.php
  playground/resources/views/livewire/multiroot-dynamic-demo.blade.php
  psalm.xml
  resources/views/livewire/ckeditor5-editable.blade.php
  resources/views/livewire/ckeditor5-ui-part.blade.php
  resources/views/livewire/ckeditor5.blade.php
  src/Components/CKEditor5.php
  src/Preset/Preset.php
  src/Preset/PresetParser.php
  src/Preset/PresetValidator.php
  tests/Unit/Preset/PresetParserTest.php
  tests/Unit/Preset/PresetTest.php
  tests/Unit/Preset/PresetValidatorTest.php
Due: javascript, php

ci: do not use codecov token if missing
  .github/workflows/code-checks.yml
Due: none

docs: add `mountEffect` method docs
  README.md
Due: none

docs: fix typo
  README.md
Due: none

ci: adjust permissions, bump pnpm
  .github/workflows/code-checks.yml
  .github/workflows/publish.yml
  npm_package/package.json
  pnpm-workspace.yaml
Due: javascript

feat: use new editor initialization syntax introduced in 48.x
  README.md
  config/config.php
  npm_package/package.json
  npm_package/src/hooks/editable.ts
  npm_package/src/hooks/editor/editor.ts
  npm_package/src/hooks/editor/types/editor-relaxed-constructor.type.ts
  npm_package/src/hooks/editor/types/index.ts
  npm_package/src/hooks/editor/utils/assign-initial-data-to-editor-config.ts
  npm_package/src/hooks/editor/utils/assign-source-elements-to-editor-config.ts
  npm_package/src/hooks/editor/utils/create-editor-in-context.ts
  npm_package/src/hooks/editor/utils/index.ts
  npm_package/tsconfig.json
  npm_package/vite.config.ts
  pnpm-lock.yaml
Due: javascript

fix: simplify initialization of the editor
  npm_package/src/hooks/editor/editor.ts
Due: javascript

docs: add parameters to readme
  README.md
Due: none

docs: adjust snippet
  README.md
Due: none

feat: simplify editor initialization
  npm_package/src/hooks/editor/editor.ts
  npm_package/src/hooks/editor/utils/assign-editor-roots-to-config.ts
  npm_package/src/hooks/editor/utils/assign-initial-data-to-editor-config.ts
  npm_package/src/hooks/editor/utils/assign-source-elements-to-editor-config.ts
  npm_package/src/hooks/editor/utils/index.ts
  npm_package/src/hooks/editor/utils/query-all-editor-editables.ts
  npm_package/src/hooks/editor/utils/query-editor-editables.ts
Due: javascript

fix: invalid object constructor in few places
  npm_package/src/hooks/editor/utils/get-editor-roots-values.ts
  npm_package/src/hooks/editor/utils/query-all-editor-editables.ts
Due: javascript

feat: add support for paragraph like editing
  npm_package/src/hooks/editable.test.ts
  npm_package/src/hooks/editable.ts
  npm_package/src/hooks/editor/editor.test.ts
  npm_package/src/hooks/editor/editor.ts
  npm_package/src/hooks/editor/utils/assign-editor-roots-to-config.ts
  npm_package/src/hooks/editor/utils/query-all-editor-editables.ts
  npm_package/test-utils/editable/create-editable-snapshot.ts
  npm_package/test-utils/editor/create-editor-snapshot.ts
  playground/resources/views/editors/multiroot.blade.php
  resources/views/livewire/ckeditor5-editable.blade.php
  src/Components/CKEditor5.php
  src/Components/CKEditor5Editable.php
  tests/Feature/Components/CKEditor5Test.php
Due: javascript, php

docs: add paragraph like editing to docs
  README.md
Due: none

docs: shorter paragraph like section
  README.md
Due: none
